#[submodule "packages/slicknode/test/commands/init/fixtures/project-repo"]
#	path = packages/slicknode/test/commands/init/fixtures/project-repo
#	url = https://github.com/slicknode/slicknode-project-template-ci.git
