/dist
/lib
node_modules
.DS_Store
.idea
/site
/_src
/oclif.manifest.json
/.nyc_output

# We don't need package-lock.json, using yarn
/package-lock.json
/yarn-error.log
# Slicknode cache data
.slicknode

# Slicknode cache data
.slicknode

# Slicknode cache data
.slicknode

# Slicknode cache data
.slicknode

