backports-abc==0.5
certifi==2019.3.9
cfn-flip==1.2.1
Click==7.0
graphqllexer @ git+https://github.com/ivome/pygments-graphql-lexer.git@92b69328d53dc1c6f019d16415ad340ea6e47d28
htmlmin==0.1.12
Jinja2==2.11.3
jsmin==2.2.2
livereload==2.6.1
Markdown==3.1.1
MarkupSafe==1.1.1
mkdocs==1.0.4
mkdocs-material==4.4.0
mkdocs-minify-plugin==0.2.1
Pygments==2.4.2
pymdown-extensions==6.0
PyYAML==5.1.1
singledispatch==3.4.0.3
six==1.12.0
tornado==5.1.1
